

@media screen and (max-width: 600px){

    .text {
        font-size: 3.3vw;
        position: absolute;
        margin-left: 0%;
        padding: 0%; }

      .animacion img {
        float: right;
        width: 8vw;
        height: 8vw; } 

}