
.logoa img{
    animation-name: efecto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
        
    @keyframes efecto {
            from {
                opacity: 1;
            }
            to {
                opacity: 0.2;
            }
        }
    }

@media screen and (max-width: 600px){

    .logoa img{
        width: 17vw;
        height: 17vw;
    }

}