
    .effect {
      transition: transform 0.3s ease;
    }
    .effect:hover {
      transform: scale(1.05);
    }


    @media screen and (max-width: 600px){

      .titulo h1{
        font-size: 11.5vw;
      }
      .titulo h2 {
        font-size: 6vw; 
      }
      .titulo h3 {
        font-size: 6vw; 
      }
      .tarjetasi img {
        height: 52vw; 
      }
      .tarjetasi h4 {
        font-size: 5vw; 
      }
      .tarjetasi p {
        font-size: 3.2vw;
      }
      .boton {
        width: 50vw;
        padding: 0;
        margin: 0; 
      }
      .boton a {
        font-size: 3.5vw; 
      }
  }