
.textoqs{
    font-size: 30px;
    color: black;
    text-align: left;
    margin: 40px 0px;
}

@media screen and (max-width: 1024px){

    .textoqs{
        font-size: 3vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
        
    .textopf h3{
        font-size: 3.5vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
     .textopf h4{
        font-size: 3vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

}

@media screen and (max-width: 600px){
    
    .textoqs{
    font-size: 5.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
    }
    .textopf h3{
        font-size: 6.5vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .textopf h4{
        font-size: 5vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
}